*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 10px;
}
:root{
    --active-color:#6858CF;
    --bg-color:#fff;
    --black-color:#000;
    --header-color:#000;
    --social-media:#6858CF;
    --para-color:#000;
    --dark-gray:#515253;
    --light-gray:#6a6a6b;
    --services-bg:#fff;
    --darkandlight-color:#6858CF;

}
.inner{
    width:80%;
    height: 100%;
}
body{
   background-color: var(--bg-color);
   scroll-behavior: smooth;
}
body.dark-theme{
    --active-color:#ff004f;
    --bg-color:#000;
    --black-color:#fff;
    --header-color:#fff;
    --para-color:#fff;
    --dark-gray:#fff;
    --light-gray:#fff;
    --social-media:#fff;
    --services-bg:#262626;
    --darkandlight-color:#ff004f;
}
html{
   scroll-behavior: smooth;
}
/* ***********************************Nav section Start********************************************* */
header{
    padding: 1rem 0rem ;
    width: 100%;
    position: fixed;
    bottom: initial;
    left: 0;
    z-index: 1000;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav{
    width: 80%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .name a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--darkandlight-color);
    position: relative;
}
header nav .nav-manu{
    margin-left: auto;
}
header nav .nav-manu ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
   gap:4rem;
}
header nav .nav-manu ul li a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--para-color);
 }
 header nav .nav-manu ul li a:hover{
    color: var(--darkandlight-color);
 }
 header nav .nav-manu ul li .active{
    color: var(--darkandlight-color);
 }
 header nav .nav-manu ul li a i{
    display: none;
 }
 header nav .nav-manu > i{
    display: none;
    color: var(--bg-color);
 }
 header nav .nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
 }
 header nav .nav-icon i{
    font-size: 2rem;
    cursor: pointer;
    margin-left: 2rem;
    color:var(--active-color);
    border: 1px solid var(--darkandlight-color);
    padding: 0.3rem 0.5rem;
 }
 header nav .nav-icon #nav-open{
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--para-color);
 }
/* ***********************************Nav section End********************************************* */

/* *********************************** section=1 Start********************************************* */

.sec-1{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;

}
.sec-1 .in-sec1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.sec-1 .in-sec1 .social-id{
   width:20%;
   height: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;

}
.sec-1 .in-sec1 .social-id .si{
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap:2rem;
    color: var(--social-media);
 
 }
 .sec-1 .in-sec1 .social-id .si i{
   color: var(--social-media);
   border: 1px solid #fff;
   padding: 0.5rem;

}
.sec-1 .in-sec1 .content{
    width:78%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
 
 }
 .sec-1 .in-sec1 .content .para{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:2rem;
 }
 .sec-1 .in-sec1 .content .para h1{
    font-size: 4rem;
    font-weight: bold;
    color: var(--black-color);
 }
 .sec-1 .in-sec1 .content .para h3{
    font-size: 2rem;
    color:var(--dark-gray) ;
 }
 .sec-1 .in-sec1 .content .para p{
    font-size: 1.5rem;
    color:var(--light-gray) ;
    line-height: 2.5rem;
 }
 .sec-1 .in-sec1 .content .para a{
   text-decoration: none;
    padding: 1rem 3rem;
    background-color: var(--darkandlight-color);
    border: none;
    color: #fff;
    font-size: 1.8rem;
    border-radius: 5px;
 }
 .sec-1 .in-sec1 .content .image{
    width: 40%;
 }
 .sec-1 .in-sec1 .content .image img{
    width:35rem;
    height: 35rem;
    border-radius: 50%;
 }
/* *********************************** section-1 End********************************************* */


/* *********************************** section-2 start********************************************* */
.sec-2{
   width:100%;
   padding: 3rem 0rem;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--bg-color);
}

.sec-2 .in-sec2{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}
.sec-2 .in-sec2 .image{
  width:35%;
}
.sec-2 .in-sec2 .image img{
   width:100%;
   border-radius: 15px;
 }
 .sec-2 .in-sec2 .content{
   width: 60%;
 }
 .sec-2 .in-sec2 .content .about-para{
   width: 100%;
   height: 100%;
   color:var(--para-color)
 }
 .sec-2 .in-sec2 .content .about-para h2{
   font-size: 5rem;
   position: relative;
   display: inline;
   padding-bottom:0.8rem ;
 }
 .sec-2 .in-sec2 .content .about-para p{
   font-size: 1.5rem;
 }
 .sec-2 .in-sec2 .content .sk-ex-ed ul{
   padding: 1.5rem 0rem;
   display: flex;
   justify-content:flex-start;
   align-items: center;
   gap: 2rem;
   list-style: none;
 }
 .sec-2 .in-sec2 .content .sk-ex-ed ul li a{
  font-size: 1.4rem;
  font-weight:700;
  position: relative;
  color:var(--para-color);
  cursor: pointer;
 }
 .sec-2 .in-sec2 .content .sk-ex-ed ul li .link::after{
   content: "";
   height: 2px;
   position:absolute;
   top:100%;
   left: 0;
   width: 0%;
   background-color: #ff3838;
   transition: all 0.3s linear;
 }
 .sec-2 .in-sec2 .content .sk-ex-ed ul li .active::after{
   content: "";
   height: 3px;
   position:absolute;
   top:100%;
   left: 0;
   width: 70%;
   background-color: #ff3838;

  }
  .sec-2 .in-sec2 .content .sk-ex-ed .sed-add{
    height: 18rem;
    color:var(--para-color);
  }
  .sec-2 .in-sec2 .content .sk-ex-ed .sed-add .allabout{
   font-size: 1.4rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   gap:1rem;

  }
  .sec-2 .in-sec2 .content .sk-ex-ed .sed-add .allabout h5{
   color:#672E3C;
   padding: 0.4rem 0rem;
  }
  .sec-2 .in-sec2 .content .sk-ex-ed .sed-add .allabout p{
   color:var(--para-color);
  }
/* *********************************** section-2 End********************************************* */


/* *********************************** section-3 start********************************************* */
.sec-3{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   padding: 2rem 0rem;
   background-color: var(--bg-color);
}
.sec-3 .in-sec3 .heading{
   font-size: 3rem;
   padding: 1rem 0rem;
   color: var(--para-color);
}
.sec-3 .in-sec3 .services{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}
.sec-3 .in-sec3 .services .s-card{
   width: 30%;
   height: 23rem;
   box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
   border-radius: 10px;
   padding: 2.5rem ;
   background-color:var(--services-bg) ;
   transition: all 0.3s linear;
}
.sec-3 .in-sec3 .services .s-card:hover{
   background-color: var(--darkandlight-color);
   transform: translateY(-10px);
}
.sec-3 .in-sec3 .services .s-card .logo i{
   font-size: 3.4rem;
   color: var(--black-color);
}
.sec-3 .in-sec3 .services .s-card:hover .logo i{
   color: #fff;

}
.sec-3 .in-sec3 .services .s-card .s-about{
   font-size: 1.3rem;
   color:var(--para-color);
   padding:2rem 0rem ;
}
.sec-3 .in-sec3 .services .s-card:hover .s-about{
   color: #fff;

}
.sec-3 .in-sec3 .services .s-card .s-about p{
   padding: 1.8rem 0rem;
}
.sec-3 .in-sec3 .services .s-card .s-about a{
   text-decoration: none;
   border: none;
   color: var(--black-color);
   border-radius: 5px;
   cursor: pointer;
}
.sec-3 .in-sec3 .services .s-card:hover .s-about a{
   color: #fff;

}
/* *********************************** section-3 End********************************************* */

/* *********************************** section-4 start********************************************* */
.sec-4{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   padding: 2rem 0rem;
   background-color: var(--bg-color);
}
.sec-4 .in-sec4 .heading{
   font-size: 3rem;
   padding: 1rem 0rem;
   color: var(--para-color);
}
.sec-4 .in-sec4 .mywork-card{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}
.sec-4 .in-sec4 .mywork-card .w-card{
   width: 31%;
   border-radius: 10px;
   position: relative;
   overflow: hidden;
}
.sec-4 .in-sec4 .mywork-card .w-card img{
   width: 100%;
   height: 38rem;
}
.sec-4 .in-sec4 .mywork-card .w-card .w-about{
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 0%;
   background: linear-gradient(rgba(0,0,0,0.6),var(--darkandlight-color));
   border-radius: 10px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #fff;
   padding: 0rem 1.5rem;
   transition: all 0.3s linear;
}
.sec-4 .in-sec4 .mywork-card .w-card:hover .w-about{
   height: 100%;
}
.sec-4 .in-sec4 .mywork-card .w-card .w-about h3{
   font-size: 2rem;
}
.sec-4 .in-sec4 .mywork-card .w-card .w-about p{
   font-size: 1.6rem;
   padding: 1rem 0rem;
   text-align: center;
}
.sec-4 .in-sec4 .mywork-card .w-card .w-about a{
   font-size: 1.8rem;
   color: #000;
   padding: 1.5rem;
   background-color: #fff;
   border-radius: 50%;
}

/* *********************************** section-4 End********************************************* */


/* *********************************** section-5 start********************************************* */

.sec-5{
   width: 100%;
   background-color: var(--bg-color);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 4rem 0rem;
}
.sec-5 .in-sec5{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}
.sec-5 .in-sec5 .left{
   width: 48%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   gap:1.5rem;
}
.sec-5 .in-sec5 .left h1{
   color: var(--para-color);
   font-size: 4rem;
}
.sec-5 .in-sec5 .left .icon{
   font-size: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 1.2rem;
   color: var(--para-color);
}
.sec-5 .in-sec5 .left .icon a{
   text-decoration: none;
}
.sec-5 .in-sec5 .left .icon a i{
   color: #fff;
   padding: 0.8rem;
   background-color: var(--darkandlight-color);
   border-radius: 50%;
}
.sec-5 .in-sec5 .left .social-media-icon{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap:1rem;
}
.sec-5 .in-sec5 .left .social-media-icon a{
      color: var(--para-color);
      font-size: 2.5rem;
      padding: 0.5rem;
      transition: all 0.3s linear;
      border-radius: 50%;
}
.sec-5 .in-sec5 .left .social-media-icon a:hover{
   color: var(--darkandlight-color);
   transform: translateY(-3px);
}
.sec-5 .in-sec5 .right{
   width: 48%;
}

.sec-5 .in-sec5 .left button{
   padding: 1rem 3rem;
   background-color: var(--darkandlight-color);
   border: none;
   color: #fff;
   font-size: 1.8rem;
   border-radius: 5px;
   cursor: pointer;
}
.sec-5 .in-sec5 .right form{
   width: 100%;
   padding: 3rem;
   background-color: var(--bg-color);
   color: var(--para-color);
   border: 2px solid var(--black-color);
   border-radius: 5px;
}
.sec-5 .in-sec5 .right form h2{
font-size: 3rem;
font-weight: 500;
color: var(--para-color);
}

                      /* *****************Input Box****************** */
 .sec-5 .in-sec5 .right form .input-box{
    background-color: var(--bg-color);
    margin-top: 1rem;
    width: 100%;
    position: relative;
}
.sec-5 .in-sec5 .right form input,textarea{
   background-color: var(--bg-color);
}
.sec-5 .in-sec5 .right form .input-box input , textarea{
   width: 100%;
   padding: 0.5rem 0;
   font-size: 1.5rem;
   margin:1rem 0 ;
   border: none;
   border-bottom:2px solid var(--black-color) ;
   outline: none;
   resize: none;
}
.sec-5 .in-sec5 .right form .input-box span{
   position: absolute;
   left: 0;
   padding: 0.5rem 0;
   font-size: 1.5rem;
   margin:1rem 0 ;
   pointer-events: none;
   transition: 0.5s;
   color:#666;
}
.sec-5 .in-sec5 .right form .input-box input:focus ~ span,
.sec-5 .in-sec5 .right form .input-box input:valid ~ span{
   font-size: 1.2rem;
   color:#e91963;
   transform: translateY(-20px);
}
.sec-5 .in-sec5 .right form .input-box textarea:focus ~ span,
.sec-5 .in-sec5 .right form .input-box textarea:valid ~ span{
   font-size: 1.2rem;
    color:#e91963;
    transform: translateY(-20px);
}
.sec-5 .in-sec5 .right form .submit-btn-box{
   display: flex;
   justify-content: center;
   align-items: center;
}


                      /* *****************Submit Button****************** */


.sec-5 .in-sec5 .right form .input-box input[type="submit"]{
   width: 90%;
   background-color: var(--darkandlight-color);
   color: var(--bg-color);
   border: none;
   cursor: pointer;
   padding: 1rem;
   font-size: 1.5rem;
   transition: all 0.3s linear;
}
.sec-5 .in-sec5 .right form .input-box input[type="submit"]:hover{
   background-color: transparent;
   outline: 1px solid var(--black-color);
   color: var(--para-color);
}
/* *********************************** section-5 End********************************************* */
/* *********************************** footer section start********************************************* */
footer{
   padding: 1.5rem 0rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.6rem;
   background-color: var(--darkandlight-color);
   color: #fff;
   text-align: center;
}

/* *********************************** footer section End********************************************* */

/* ************************************************************************************************** */
                                         /* Media Query*/
/* *************************************************************************************************** */
@media screen  and (min-width:1201px){

}
@media screen  and (max-width:1200px){
   .sec-1 .in-sec1 .content .image img{
      width:30rem;
      height: 30rem;
      border-radius: 50%;
   }
   .sec-3 .in-sec3 .services .s-card{
      width: 32%;
   }
}
@media screen  and (max-width:1024px){
   .inner{
      width:85%;
      height: 100%;
  }
  header nav{
   width: 85%;
 }
   .sec-1 .in-sec1 .social-id{
      width:10%;
   }
   .sec-1 .in-sec1 .content{
      width:88%;
   
   }
   .sec-1 .in-sec1 .content .image img{
      width:28rem;
      height: 28rem;
      border-radius: 50%;
   }
   .sec-3 .in-sec3 .services{
      justify-content: space-evenly;
   }
   .sec-3 .in-sec3 .services .s-card{
      width: 48%;
      margin-bottom: 1.5rem;
   }
   .sec-4 .in-sec4 .mywork-card{
      justify-content: space-evenly;
   }
   .sec-4 .in-sec4 .mywork-card .w-card{
      width: 48%;
      margin-bottom: 1.5rem;
   }
}
@media screen  and (max-width:768px){
 header{
    bottom: 0;
}
header nav .nav-manu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: all 0.5s linear;
}
header nav .nav-manu ul{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
 }
 header nav .nav-manu ul li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
header nav .nav-manu ul li a i{
    display: block;
 }
 header nav .nav-manu > i{
    position: absolute;
    bottom: 1.2rem;
    right: 9.5% ;
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
 }
 header nav .nav-icon  #nav-open{
   display: inline;
 }
 header nav .Show-manu{
    bottom: 0;
 }
 .sec-1{
   height: auto;
   overflow: hidden;

}
 .sec-1{
   padding-top: 5rem;
 }
 .sec-1 .in-sec1 .social-id{
   height: 40%;
   width:5%;
   position: absolute;
   top: 5%;
   right: 15%;
   align-items: self-start;
}
.sec-1 .in-sec1 .social-id .si{
    height: 100%;
    align-items: flex-start;
 
 }
 .sec-1 .in-sec1 .content .para{
   width: 100%;
   margin-top: 3rem;
}
.sec-1 .in-sec1 .content .image{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.sec-1 .in-sec1 .content .image img{
   width:25rem;
   height: 25rem;
}
.sec-2 .in-sec2 .image{
   width:70%;
   margin-bottom: 2rem;
 }
 .sec-2 .in-sec2 .content{
   width: 100%;
 }
 .sec-3 .in-sec3 .services{
   gap: 1.3rem;
 }
 .sec-3 .in-sec3 .services .s-card{
   width: 100%;
}
.sec-4 .in-sec4 .mywork-card .w-card{
   width: 75%;
}
.sec-5 .in-sec5 .left{
   width: 100%;
   margin-bottom: 2rem;
}
.sec-5 .in-sec5 .right{
   width:100%;
}
footer{
padding: 1.5rem 0rem 6rem 0rem;
}
}
@media screen  and (max-width:480px){
    header nav .nav-manu ul{
        padding: 1.5rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
     }
     .sec-1 .in-sec1 .social-id{
      height: 5%;
      width:5%;
      position: absolute;
      top: 0%;
      right: 6%;
      align-items: self-start;
   }
     .sec-1 .in-sec1 .content .image img{
      width: 20rem;
      height: 20rem;
     }
     .sec-2 .in-sec2 .image{
      width:100%;
    }
    .sec-3 .in-sec3 .services .s-card{
      height: 26rem;
      gap: 1.3rem;
    }
    .sec-4 .in-sec4 .mywork-card .w-card{
      width: 100%;
   }
}
